div {
  display: none;
  border: 1px solid #cbcbca;
}

.tab {
  background-color: #eeeeee;
  display: flex;
  flex-direction: row;
  height: 50px;
  border: 1px solid #cbcbca;
  border-bottom: 0px;
}

button {
  border: none;
  font-size: 1.3em;
  padding: 0 10px;
  text-align: center;
  cursor: pointer;
}

.tab-selected {
  background-color: #cbcbca;
}

.selected {
  display: block;
}

div:not(.tab) {
  padding-left: 20px;
  /* border-top: none; */
}
